body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.green {
  background-color: rgb(62, 163, 62);
  color: white;
  box-shadow: 1px 1px 10px 4px rgb(150, 221, 165);
}

.green-text {
  color: rgb(62, 163, 62);
}

p {
  font-size: 16px;
}

.unclickable {
  color: rgb(192, 192, 192);
}

.biggest-header-text {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}

.secondary-header-text {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2;
}

.tiny-text {
  font-size: 12px;
  color: #999;
}

.breaker {
  display: flex;
}

.da-stick {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.smaller-section img {
  width: 80%;
  height: auto;
}

.btn-important {
  background-color: rgb(61, 179, 77);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
  padding: 10px 60px;
}

.btn-important:hover {
  background-color: rgb(93, 190, 106);
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: auto;
  margin: 10px;
}

.tableCD {
  margin: auto;
  width: 80%;
  background: rgb(216, 216, 216);
  border-radius: 5px;
}

.tableHeadCD {
  background: rgb(207, 207, 207);
}

.tableLabels {
  width: 20%;
  background: rgba(119, 119, 119, 0.151);
  border-right: 2px solid rgb(255, 255, 255);
  font-weight: 600;
}

.modal-row {
  display: flex;
  justify-content: center;
}

.modal-row Button:nth-child(1){
  margin-right: 10px;
  background-color: rgb(228, 3, 3);
}

.modal-head {
  display: flex;
  justify-content: center;
}


/* Calculator ******** */

.calc-form {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: baseline;
}

.calc-form label {
  margin-right: 1rem;
}

.cal-form-box {
  border: none;
  border-bottom: 2px solid rgb(44, 124, 44);
  background: none;
}

/* Forms */

.update-form {
  width: 50%;
  box-shadow: 0px 10px 20px #999;
  border-radius: 20px;
}

.update-form Button {
  width: 100%;
}

/* Dashboard */

.savings-header-spacer {
  padding-bottom: 18px;
  padding-top: 18px;
  padding-left: 9px;
}

.dashboard-banner {
  margin-top: 100px;
  background-color: rgb(51, 167, 67);
  color: white;
}

.client-dash {
  display: flex;
  flex-direction: row;
}

.default-box {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
}

.default-box h3 {
  color: rgb(128, 128, 128);
}

.dash-btn {
  background: rgb(41, 167, 79);
  border: 1px solid rgb(196, 196, 196);
  color: rgb(243, 243, 243);
  width: 100%;
}

.dash-btn:hover {
  background: rgb(64, 148, 76);
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.dash-btn:focus {
  background: rgb(64, 148, 76);
}

.client-dash .side {
  flex: 1;
  box-shadow: 0px 5px 10px rgb(216, 216, 216);
}

.client-dash .side ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.client-dash .side ul li {
  margin-bottom: 10px;
}

.client-dash .content {
  flex: 4;
  box-shadow: 0px 5px 10px rgb(216, 216, 216);
}

.client-dash .content .content-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: rgb(51, 167, 67);
}

.tags {
  padding: 0;
  line-height: normal;
  margin: 0;
}

.inner-content {
  display: flex;
  flex-direction: row;
}

.inner-content .inner-side {
  flex: 1;
  border-right: 1px solid rgb(139, 212, 139);
  padding-right: 10px;
}

.inner-content .inner-side ul, .inner-content-2 ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  border-right: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 10px;
}

.inner-content .inner-side ul li, .inner-content-2 ul li {
  color: #777;
  padding-left: 10px;
}

.inner-content .inner-side ul li:nth-child(1), .inner-content-2 ul li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.199);
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  margin-bottom: 10px;
}

.inner-content .inner-side ul li:nth-last-child(1) {
  color: rgb(187, 187, 187);
  font-size: 0.8rem;
  padding-top: 10px;
  padding-bottom: 3px;
}

.inner-content-2 {
  flex: 2;
  padding-left: 10px;
}

.inner-content-2 ul li:nth-child(1) {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.199);
  font-size: 1rem;
}

.inner-content-2 ul li {
  font-size: 0.9rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

.inner-content-2 ul li:nth-child(2n + 2) {
  background-color: rgb(211, 211, 211);
}

.panel {
  display: none;
}

.showing {
  display: block;
}

/* Colors */

.gray {
  color: #777;
}

.light-gray {
  background-color: rgb(241, 241, 241);
}

.trans-white{
  background-color: rgba(255, 255, 255, 0.863);
}

.color-primary {
  background: rgb(22, 138, 57);
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.nav-link:focus, .nav-link:active, .nav-link:hover {
  color: rgb(85, 173, 85)!important;
}

.nav-link.active {
  color: rgb(85, 173, 85)!important;
}
